@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-image: url("./assets/background.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar,
.alasanpenolakan,
.pengaduan,
.tambahkeluhan {
  background-image: url("./assets/background.png");
}

.img-logo {
  width: 50px;
}

p {
  font-size: 15px;
}

nav {
  font-weight: bold;
  font-size: 20px;
}

input,
select {
  box-shadow: none;
  margin-top: 10px;
  border: 1px solid black;
}

.appr {
  border-radius: 4px;
  margin-top: 5px;
}

.hist-jdl {
  color: #152c5b;
  font-weight: bold;
  margin-top: 5px;
}

b {
  color: #152c5b;
}

.tabes {
  background-color: tomato;
}

.desk {
  color: #219653;
  margin-top: 10px;
  text-align: center;
}

.btn1 {
  background-color: #152c5b;
  color: white;
  border: none;
  border-radius: 15px 10px 20px 10px;
  padding: 10px;
}

.btn2 {
  background-color: #366536;
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
}

.judullogin {
  color: #10bca0;
}

.btnlogin {
  background-color: #10bca0;
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
  margin-top: 20px;
}

.terimakeluhan,
.tolakkeluhan {
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
  width: 100px;
  margin-top: 2vh;
}

.terimakeluhan {
  background-color: #14bd96;
}

.tolakkeluhan {
  background-color: #f12b2c;
}

.btndetail {
  background-color: transparent;
  border: none;
  float: right;
}

/* home */

.judul {
  margin-top: 40px;
  font-weight: bold;
  color: white;
}

.judul2 {
  color: white;
  font-size: 20px;
}

.form-control {
  border-radius: 20px;
}

.labelform {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #152c5b;
  font-weight: bold;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #152c5b;
}

.tampilanhome {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.tampilanadmin {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.tampilanlogin {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 2r0px;
  background-color: white;
}

.inic {
  margin-top: 10vh;
}

.status-pending {
  color: #fec400;
}

.status-diterima {
  color: #14bd96;
}

.status-ditolak {
  color: #f12b2c;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.backbutton {
  justify-content: flex-start;
}

.juduldetailpengaduan {
  flex-grow: 1;
  text-align: center;
}

.alasanpenolakan {
  font-weight: bold;
}

.pengaduan {
  color: white;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}

.tambahkeluhan {
  color: white;
  border-radius: 10px;
}

.jdltambahkeluhan {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-weight: bold;
}

.subjudul {
  color: white;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .judul {
    font-size: 24px;
    margin-top: 20px;
  }

  .judul2 {
    font-size: 16px;
  }

  .form-control {
    font-size: 12px;
  }

  .labelform {
    font-size: 12px;
  }

  .tampilanhome,
  .tampilanadmin,
  .pengaduan,
  .tambahkeluhan {
    margin-top: 10px;
    padding: 10px;
  }

  .pengaduan,
  .tambahkeluhan {
    font-size: 14px;
  }

  .jdltambahkeluhan {
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .judul {
    font-size: 32px;
    margin-top: 30px;
  }

  .judul2 {
    font-size: 18px;
  }

  .form-control {
    font-size: 14px;
  }

  .labelform {
    font-size: 14px;
  }

  .tampilanhome,
  .tampilanadmin,
  .pengaduan,
  .tambahkeluhan {
    margin-top: 15px;
    padding: 15px;
  }

  .pengaduan,
  .tambahkeluhan {
    font-size: 16px;
  }

  .jdltambahkeluhan {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1025px) {
  .judul {
    font-size: 48px;
    margin-top: 40px;
  }

  .judul2 {
    font-size: 24px;
  }

  .form-control {
    font-size: 16px;
  }

  .labelform {
    font-size: 16px;
  }

  .tampilanhome,
  .tampilanadmin,
  .pengaduan,
  .tambahkeluhan {
    margin-top: 20px;
    padding: 20px;
  }

  .pengaduan,
  .tambahkeluhan {
    font-size: 18px;
  }

  .jdltambahkeluhan {
    font-size: 28px;
  }
}
